version: '2.2'

services:
  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es01
    environment:
      - node.name=es01
      - node.master=true
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - node.ml=false
      - node.transform=false
      - xpack.transform.enabled=false
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es02,es03,es04,es05,es06,es07,es08,es09,es10,es11,es12,es13,es14,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es02:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es02
    environment:
      - node.name=es02
      - node.master=true
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - node.ml=false
      - node.transform=false
      - xpack.transform.enabled=false
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es03,es04,es05,es06,es07,es08,es09,es10,es11,es12,es13,es14,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es03:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es03
    environment:
      - node.name=es03
      - node.master=true
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - node.ml=false
      - node.transform=false
      - xpack.transform.enabled=false
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es04,es05,es06,es07,es08,es09,es10,es11,es12,es13,es14,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es04:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es04
    environment:
      - node.name=es04
      - node.master=false
      - node.voting_only=false
      - node.data=true
      - node.ingest=false
      - node.ml=false
      - node.transform=false
      - xpack.transform.enabled=false
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es05,es06,es07,es08,es09,es10,es11,es12,es13,es14,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es05:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es05
    environment:
      - node.name=es05
      - node.master=false
      - node.voting_only=false
      - node.data=true
      - node.ingest=false
      - node.ml=false
      - node.transform=false
      - xpack.transform.enabled=false
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es06,es07,es08,es09,es10,es11,es12,es13,es14,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es06:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es06
    environment:
      - node.name=es06
      - node.master=false
      - node.voting_only=false
      - node.data=true
      - node.ingest=false
      - node.ml=false
      - node.transform=false
      - xpack.transform.enabled=false
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es07,es08,es09,es10,es11,es12,es13,es14,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es07:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es07
    environment:
      - node.name=es07
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=true
      - node.ml=false
      - node.transform=false
      - xpack.transform.enabled=false
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es08,es09,es10,es11,es12,es13,es14,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es08:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es08
    environment:
      - node.name=es08
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=true
      - node.ml=false
      - node.transform=false
      - xpack.transform.enabled=false
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es09,es10,es11,es12,es13,es14,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es09:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es09
    environment:
      - node.name=es09
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=true
      - node.ml=false
      - node.transform=false
      - xpack.transform.enabled=false
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es10,es11,es12,es13,es14,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es10:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es10
    environment:
      - node.name=es10
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - node.ml=false
      - node.transform=false
      - xpack.transform.enabled=false
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es09,es11,es12,es13,es14,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es11:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es11
    environment:
      - node.name=es11
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - node.ml=false
      - node.transform=false
      - xpack.transform.enabled=false
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es09,es10,es12,es13,es14,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es12:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es12
    environment:
      - node.name=es12
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - node.ml=false
      - node.transform=false
      - xpack.transform.enabled=false
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es09,es10,es11,es13,es14,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es13:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es13
    environment:
      - node.name=es13
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - node.ml=false
      - node.transform=true
      - xpack.transform.enabled=true
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es09,es10,es11,es12,es14,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es14:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es14
    environment:
      - node.name=es14
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - node.ml=false
      - node.transform=true
      - xpack.transform.enabled=true
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es09,es10,es11,es12,es13,es15,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es15:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es15
    environment:
      - node.name=es15
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - node.ml=false
      - node.transform=true
      - xpack.transform.enabled=true
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es09,es10,es11,es12,es13,es14,es16,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es16:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es16
    environment:
      - node.name=es16
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - node.ml=true
      - node.transform=true
      - xpack.transform.enabled=true
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es09,es10,es11,es12,es13,es14,es15,es17,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es17:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es17
    environment:
      - node.name=es17
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - node.ml=true
      - node.transform=true
      - xpack.transform.enabled=true
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es09,es10,es11,es12,es13,es14,es15,es16,es18
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es18:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es18
    environment:
      - node.name=es18
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - node.ml=true
      - node.transform=true
      - xpack.transform.enabled=true
      - xpack.ml.enabled=true
      - node.remote_cluster_client=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es09,es10,es11,es12,es13,es14,es15,es16,es17
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  kibana:
    image: docker.elastic.co/kibana/kibana:7.7.0
    container_name: kibana
    environment:
      SERVER_NAME: kibana
      SERVER_HOST: kibana
      ELASTICSEARCH_HOSTS: http://es10:9200
      ELASTICSEARCH_HOSTS: http://es11:9200
      ELASTICSEARCH_HOSTS: http://es12:9200
    networks:
      - elasticsearch
  filebeat01:
    image: docker.elastic.co/beats/filebeat:7.7.0
    container_name: filebeat01
    environment:
      ELASTICSEARCH_HOSTS: http://es10:9200
      ELASTICSEARCH_HOSTS: http://es11:9200
      ELASTICSEARCH_HOSTS: http://es12:9200
    volumes:
      - httpd01-volume:/var/log/apache2:ro
      - ./files/filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - ./files/filebeat/modules.d/apache.yml:/usr/share/filebeat/modules.d/apache.yml:ro
    networks:
      - elasticsearch
  filebeat02:
    image: docker.elastic.co/beats/filebeat:7.7.0
    container_name: filebeat02
    environment:
      ELASTICSEARCH_HOSTS: http://es10:9200
      ELASTICSEARCH_HOSTS: http://es11:9200
      ELASTICSEARCH_HOSTS: http://es12:9200
    volumes:
      - httpd02-volume:/var/log/apache2:ro
      - ./files/filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - ./files/filebeat/modules.d/apache.yml:/usr/share/filebeat/modules.d/apache.yml:ro
    networks:
      - elasticsearch
  httpd01:
    image: httpd:2.4.43
    container_name: httpd01
    volumes:
      - httpd01-volume:/var/log/apache2
      - ./files/httpd/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro
    networks:
      - elasticsearch
  httpd02:
    image: httpd:2.4.43
    container_name: httpd02
    volumes:
      - httpd02-volume:/var/log/apache2
      - ./files/httpd/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro
    networks:
      - elasticsearch
  httpd03:
    image: httpd:2.4.43
    container_name: httpd03
    volumes:
      - httpd03-volume:/var/log/apache2
      - ./files/httpd/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro
    networks:
      - elasticsearch
  httpd04:
    image: httpd:2.4.43
    container_name: httpd04
    volumes:
      - httpd04-volume:/var/log/apache2
      - ./files/httpd/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro
    networks:
      - elasticsearch
  fluentd01:
    build:
      context: ./fluentd
      args:
        ELASTICSEARCH_HOSTS1: es04
        ELASTICSEARCH_HOSTS2: es05
        ELASTICSEARCH_HOSTS3: es06
    container_name: fluentd01
    volumes:
      - httpd03-volume:/var/log/apache2:ro
    networks:
      - elasticsearch
  fluentd02:
    build: 
      context: ./fluentd
      args:
        ELASTICSEARCH_HOSTS1: es04
        ELASTICSEARCH_HOSTS2: es05
        ELASTICSEARCH_HOSTS3: es06
    container_name: fluentd02
    volumes:
      - httpd04-volume:/var/log/apache2:ro
    networks:
      - elasticsearch
networks:
  elasticsearch:
    ipam:
      config:
        - subnet: 172.20.15.0/24
volumes:
  httpd01-volume:
  httpd02-volume:
  httpd03-volume:
  httpd04-volume:
