version: '2.2'

services:
  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es01
    environment:
      - node.name=es01
      - node.master=true
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es02,es03,es04,es05,es06,es07,es08,es09,es10,es11,es12
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es02:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es02
    environment:
      - node.name=es02
      - node.master=true
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es03,es04,es05,es06,es07,es08,es09,es10,es11,es12
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es03:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es03
    environment:
      - node.name=es03
      - node.master=true
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es04,es05,es06,es07,es08,es09,es10,es11,es12
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es04:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es04
    environment:
      - node.name=es04
      - node.master=false
      - node.voting_only=false
      - node.data=true
      - node.ingest=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es05,es06,es07,es08,es09,es10,es11,es12
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es05:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es05
    environment:
      - node.name=es05
      - node.master=false
      - node.voting_only=false
      - node.data=true
      - node.ingest=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es06,es07,es08,es09,es10,es11,es12
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es06:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es06
    environment:
      - node.name=es06
      - node.master=false
      - node.voting_only=false
      - node.data=true
      - node.ingest=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es07,es08,es09,es10,es11,es12
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es07:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es07
    environment:
      - node.name=es07
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=true
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es08,es09,es10,es11,es12
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es08:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es08
    environment:
      - node.name=es08
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=true
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es09,es10,es11,es12
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es09:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es09
    environment:
      - node.name=es09
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=true
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es10,es11,es12
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es10:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es10
    environment:
      - node.name=es10
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es09,es11,es12
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es11:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es11
    environment:
      - node.name=es11
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es09,es10,es12
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  es12:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: es12
    environment:
      - node.name=es12
      - node.master=false
      - node.voting_only=false
      - node.data=false
      - node.ingest=false
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02,es03,es04,es05,es06,es07,es08,es09,es10,es11
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - xpack.monitoring.collection.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
  kibana:
    image: docker.elastic.co/kibana/kibana:7.7.0
    container_name: kibana
    environment:
      SERVER_NAME: kibana
      SERVER_HOST: kibana
      ELASTICSEARCH_HOSTS: http://es10:9200
      ELASTICSEARCH_HOSTS: http://es11:9200
      ELASTICSEARCH_HOSTS: http://es12:9200
    networks:
      - elasticsearch
  filebeat:
    image: docker.elastic.co/beats/filebeat:7.7.0
    container_name: filebeat
    environment:
      SETUP_KIBANA_HOST: kibana5601
      ELASTICSEARCH_HOSTS: http://es10:9200
      ELASTICSEARCH_HOSTS: http://es11:9200
      ELASTICSEARCH_HOSTS: http://es12:9200
    volumes:
      - apache2a-volume:/var/log/apache2:ro
      - ./files/apache.yml:/usr/share/filebeat/modules.d/apache.yml:ro
    networks:
      - elasticsearch
  apache2a:
    image: httpd:2.4.43
    container_name: apache2a
    volumes:
      - apache2a-volume:/var/log/apache2
    networks:
      - elasticsearch
  apache2b:
    image: httpd:2.4.43
    container_name: apache2b
    volumes:
      - apache2b-volume:/var/log/apache2
    networks:
      - elasticsearch
networks:
  elasticsearch:
    ipam:
      config:
        - subnet: 172.20.15.0/24
volumes:
  apache2a-volume:
  apache2b-volume:
